{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'boostrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'recetas/css/main.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'boostrap/js/bootstrap.bundle.min.js' %}"></script>

    <title>{% block titulo %}Recetas{% endblock %}</title>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"><img class="logo" src="{% static 'recetas/img/1.png' %}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Ultimas recetas</a>
        </li>
        <li class="nav-item">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                Hola, {{ request.user.username }}
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"><button type="button" class="btn btn-registro">Salir</button></a>
                </li>
            {% else %}
                <a class="nav-link" href="{% url 'registro' %}"><button type="button" class="btn btn-registro">Registro</button></a>
            {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
    </header>
<div class="container main-container">
    {% block content %} 

    {% endblock %}
</div>

  <footer>
    <a href="{% url 'contacto' %}">Contacto</a>
  </footer>
</body>
</html>