html{
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;
}

body{
    background-color: #F5EEDC;    
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: #4E342E;
    color: #F5EEDC;
    padding: 1rem;
    font-weight: 600;
}

footer a, footer a:hover{
    color: white;
    text-decoration: none;
}

header .navbar-nav{
    align-items: center;
}

.navbar{
    background-color: #4E342E !important;
}

.navbar a{
    color: #556B2F;
    font-size: 1.2rem;
    letter-spacing: 0.05em
}

.navbar a:hover{
    color: #BFA46F;
}

.main-container{
    padding-top: 50px;
    flex: 1;
}

@media (max-width: 576px){
.navbar-collapse{
    margin-top: 20px;
    }
.navbar-collapse.collapse .nav-item{
    padding: 10px;
    border-top: 1px solid #cccccc;
    width: 100%;
}

}

.logo{
    max-width: 100%;
}

.navbar-brand{
    max-width: 100px;
}

.btn-registro, .btn-crear-cuenta{
    background-color: 	#556B2F;
    color: #F5EEDC;
    transition: background-color 0.5s ease;
    font-size: 1.3rem;
    letter-spacing: 0.05em
}

.btn-registro:hover{
    background-color: #BFA46F;
    color: #F5EEDC;
}

.btn-crear-cuenta:hover{
    background-color: #2e410b;
    color: #F5EEDC;
}

h1{
    color: 	#7B3F3F;
    border: #BFA46F;
    letter-spacing: 0.05em
}

.card .card-img-top {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: auto;
}

.lista-ingredientes{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.card{
    margin-bottom: 50px;
}

.figure img{
    height: 500px;
}